<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Insta Profile Bot</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="col-sm-12">{{username}}</div>
            <div class="bg-light">
                {%for i in range(0,9):%}
                <div class="col-sm-4 width=400 height=400">
                    <a href="{{ url_for('downloadpost',postnumber=i) }}" >
                        <img width="300" height="300" src="{{url_for('static', filename='/posts/temppost%s.jpeg'%i)}}" >
                    </a>
                </div>
                {%endfor%}
            </div>
            <div class="col-sm-12">
                <h2 class="col-sm-4">PAGE NUMBER: {{(start//9)+1}}</h2>
                <h2 class="col-sm-4">TOTAL POSTS: {{postnumber}}</h2>
                <a href="{{ url_for('posts',username=username,pagenumber=pagenumber+1) }}" class="col-sm-4 btn-info">NEXT</a>
            </div>

        </div>
    </body>